@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #c0dbba;
  --dark-green: #63775e;
  --rose: #b84a55;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-green);
}

.background-rose {
  background-color: var(--rose);
}

.background-light-green {
  background-color: var(--light-green);
}

.background-dark-green {
  background-color: var(--dark-green);
}

.color-rose {
  color: var(--rose);
}

.color-light-green {
  color: var(--light-green);
}

.color-dark-green {
  color: var(--dark-green);
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease color;
}

a:hover,
a:focus {
  color: var(--rose);
}
